extends layout
append head
    script(src="/javascripts/add-game.js" type="module")
block content
    div.mainContainer
        each game in allGames 
            div(id=`${game.id}`).contentMain
                h2 #{game.name} by #{game.publisher} on #{game.platform}
                div.content1
                    div.gameInfo
                        img(class="game-image" src= game.image alt="")
                    p.gameDescription= game.description
                div.content2
                    if locals.authenticated
                        select(class=`select-${game.id}`)
                            each collection in allCollections
                                option(value=collection.id)= collection.name                       
                        button(id="addGameBtn").nav-link-active Add game
                    a(href=`/games/${game.id}/reviews`).nav-link-active Reviews
                    


    //- div.tableContainer
    //-     table
    //-         thead
    //-             tr
    //-                 td.tableItem
    //-                 td.tableItem Name
    //-                 td.tableItem Description
    //-                 td.tableItem Platform
    //-                 td.tableItem Publisher
    //-                 td.tableItem
    //-                 td.tableItem
    //-         tbody
    //-             each game in allGames
    //-                 tr(id=game.id)
    //-                     td.tableItem: img(class="game-image" src= game.image alt="")
    //-                     td.tableItem= game.name
    //-                     td.tableItem= game.description
    //-                     td.tableItem= game.platform
    //-                     td.tableItem= game.publisher
    //-                     td.tableItem: a(href=`/games/${game.id}`) More info
    //-                     if locals.authenticated
    //-                         td
    //-                             select(class=`select-${game.id}`)
    //-                                 each collection in allCollections
    //-                                     option(value=collection.id)= collection.name
    //-                             button.addGameBtn Add game
