extends layout.pug
block content
    h1= title
    if demoUser
        form(action='/users/login' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            div.textContainer
                label(for='email') Email
                input(type='email' name='email' value=demoUser.email required)
            div.textContainer
                label(for='password') Password
                input(type='password' name='password' value=demoUserPassword required)
            div.buttonContainer
                button(type='submit').nav-link-active Log in
                a(href='/').nav-link-active Cancel
        div
            a(href='/users/register').nav-link-active Don't have an account? Register here!

    else
        if errors
            ul
                li The following errors have occured
                    each error in errors
                        li= error
        form(action='/users/login' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            div.textContainer
                label(for='email') Email
                input(type='email' name='email' required)
            div.textContainer
                label(for='password') Password
                input(type='password' name='password' required)
            div.buttonContainer
                button(type='submit').nav-link-active Log in
                a(href='/').nav-link-active Cancel
        div.customButton
            a(href='/users/register').nav-link-active Don't have an account? Register here!
