extends layout
block content
    div.contentReview
        h3 #{specificGame.name} by #{specificGame.publisher} on #{specificGame.platform} 
        div.content1
            div.gameInfo
                img(src=specificGame.image alt='Title cover of game')
            p= specificGame.description
            div.miscGameInfo
        block addReviewButton
        a(href=`/games/${specificGame.id}/reviews` id='reviews-link').nav-link-active Reviews
    block moreContent
